.Layout {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-darkColor);
  background-image: var(--bg-image);
  background-size: 3vw 3vw;
  background-position: center;

  display: flex;
  justify-content: space-around;
  align-items: center;
}