.Modal {
  background-color: var(--bg-lightColor);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.3s ease-out;
}

.Modal * {
  margin: 10px 0;
}